.body {
  display: flex;
  background: linear-gradient(to right, #6a0dad, #000);
  color: white;
  font-family: Arial, sans-serif;
  padding: 0px;
  margin: 0px;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* Globalmente */
body.original-mode {
  background-color: white;
  color: black;
}

body.light-mode {
  background-color: #f9f9f9;
  color: #111;
}

body.dark-mode {
  background-color: #111;
  color: #f9f9f9;
}

/* Exemplo: muda sidebar com base no tema */
body.light-mode .sidebar {
  background-color: #e1e1e1;
}

body.dark-mode .sidebar {
  background-color: #222;
}

/* Exemplo de ajustes de componentes */
.sidebar {
  background-color: inherit;
}
